<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a new artist</h1>
<form action="/createNew" method="post">
    <label> Enter first name</label>
    <input type="text" name="first_name">
    <br>
    <label>Enter the last name</label>
    <input type="text"name="last_name">
    <br>
    <label>Enter tracks </label>
    <input type="text"name="tracks">
    <br>
    <label> Enter year of publication</label>
    <input type="number" name="year_of_publication">
    <br>
    <label> Enter the record label</label>
    <input type="text"name="record_label">
    <br>
    <input type="submit"value="add a new artist"style="color: #4cAf50">
</form>
</body>
</html>